@import url(https://fonts.googleapis.com/css?family=Exo+2:100,700|Merriweather+Sans:300);

body {
  background: black;
  background-color: #000000;
  /*background-image: url("binary_background4.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.svgcontainer {
  background:rgb(00,00,00);
  background-image: url("binary_background3.jpg");

}

.svgcontainer span {
  font-family: "Exo 2", Exo, "Helvetica Neue", Helvetica, sans-serif, Arial;
  font-weight: 800;
  font-size: 2.2em;
  color: rgb(00,00,00);
  text-align: center;
  vertical-align: center;
  display: block;
  /*max-width: 198px;*/
  /*max-height: 198px;*/
  margin: 0 auto;
  word-wrap: break-word;
}

.team rect {
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
}

.team span {}

.legend rect {
  fill: #FFFFFF;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
  opacity: 0.15;
}

.legend span {
  max-height: 100px;
}
